<app-nav></app-nav>

<div class="container">
    <h1>Exhibitions</h1>
    <div class="row">
        <div class="col-md-4" ng-repeat="exhibition in $ctrl.exhibitions">
            <div class="card mb-4 shadow-sm">
                <img ng-src="{{exhibition.imageUrl}}" class="card-img-top" alt="{{exhibition.title}}">
                <div class="card-body">
                    <h5 class="card-title">{{exhibition.title}}</h5>
                    <p class="card-text">{{exhibition.description}}</p>
                    <p class="card-text"><small class="text-muted">{{exhibition.date}}</small></p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
