
<div class="container">
  <section class="mt-5">
    <h2 class="mb-4">All Art News</h2>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <img src="images/artwork1.jpg" class="card-img-top img-fluid" alt="A record-breaking Barkley Hendricks painting">
          <div class="card-body">
            <h5 class="card-title">Barkley Hendricks Art At Sotheby Gallery </h5>
            <p class="card-text">22 Jun 2021</p>
            <p class="card-text">Sotheby's recent Art piece </p>
            <a href="news-detail1.html" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
          <img src="images/artwork2.jpg" class="card-img-top img-fluid" alt="Nara Roesler's new space in Chelsea">
          <div class="card-body">
            <h5 class="card-title">Chelsea Space, Nara Roesler Expands Brazilian Art Presence</h5>
            <p class="card-text">22 Jun 2021</p>
            <p class="card-text">Brazilian art coming to an international audience.</p>
            <a href="news-detail2.html" class="btn btn-primary">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
