<div class="hero-section d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-white text-overlay d-flex flex-column justify-content-center align-items-center">
        <h1>MODERN ART EXHIBITION</h1>
        <p>29 May - 15 June</p>
        <a href="#exhibitions" class="btn btn-black">Find Exhibitions</a>
      </div>
      <div class="col-md-6 text-white text-overlay d-flex flex-column justify-content-center align-items-center">
        <h1>PEASANT SCENES AND LANDSCAPES</h1>
        <p>29 May - 15 June</p>
        <a href="#artwork" class="btn btn-black">View Artwork</a>
      </div>
    </div>
  </div>
</div>

<div class="container about-section my-5">
  <div class="text-center">
    <h2>Welcome to the Artisphere</h2>
    <p class="lead">Enjoy this magical world of art, masterpieces, and amazing collections!</p>
  </div>
  <div class="row text-center my-4">
    <div class="col-md-4">
      <h3>15</h3>
      <p>Years of Experience</p>
    </div>
    <div class="col-md-4">
      <h3>34</h3>
      <p>Famous Artists</p>
    </div>
    <div class="col-md-4">
      <h3>89</h3>
      <p>Successful Exhibitions</p>
    </div>
  </div>
</div>


