<app-navbar></app-navbar>


<!-- Hero Section -->
<div class="container mt-5">
  <div class="row text-center">
    <div class="col">
      <h1>Welcome to Artisphere!</h1>
      <p class="lead">Explore, review, and engage with the best artworks, museums, and exhibitions from around the world.</p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <div class="col-md-4">
      <app-card title="Art Exhibitions" text="Exclusive Exhibitions Await" imageUrl="https://via.placeholder.com/300x200"></app-card>
    </div>
    <div class="col-md-4">
      <app-card title="Museum Artwork" text="Explore Art around you" imageUrl="https://via.placeholder.com/300x200"></app-card>
    </div>
    <div class="col-md-4">
      <app-card title="Discover Art Near You" text="Explore Museums" imageUrl="https://via.placeholder.com/300x200"></app-card>
    </div>
  </div>
</div>


<app-footer></app-footer>
