#map {
	height: 500px;
	width: 100%;
	margin-top: 20px;
}

.loading-spinner {
	text-align: center;
	margin-top: 20px;
}

#museumResults {
	margin-top: 20px;
}

.vertical-center {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.view-on-map-btn {
	margin-top: 10px;
	background-color: #009688;
	color: white;
	border: none;
	padding: 8px 12px;
	
}

.btn-primary {
	background-color: #009688;
	border-color: #009688;
}

.btn-primary:hover {
	background-color: #00796b;
	border-color: #00796b;
}

.view-on-map-btn:hover {
	background-color: #000000;
}

