@charset "UTF-8";

.curated-section {
	text-align: center;
	padding: 50px 15px;
}

.curated-title {
	color: #009688; 
	font-weight: 700;
}

.curated-description {
	font-size: 1.1em;
	color: #5e5e5e;
}

.curated-line {
	margin-top: 30px;
	border-top: 1px solid #ddd;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.top-space {
	background-color: #009688;
	height: 50px;
}

.hero-section {
	text-align: center;
	margin: 50px 0;
}

.card-img-top {
	height: 300px;
	object-fit: cover;
}

.btn-custom {
	background-color: #009688;
	color: white;
}

.btn-custom:hover {
	background-color: #00796b;
}

.center-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	background-color: black;
	padding: 20px 0;
	text-align: center;
}

.btn-rectangle {
	background-color: black;
	color: white;
	border-radius: 0;
	border: none;
	padding: 10px 20px;
}

.btn-rectangle:hover {
	background-color: #333;
}

.dropdown-login {
	width: 300px;
	padding: 20px;
}

.dropdown-login input {
	margin-bottom: 10px;
}

.login-btn {
	background-color: #009688;
	color: white;
}

.login-btn:hover {
	background-color: #009688;
}

footer {
	flex-shrink: 0;
}


.navbar-brand img {
	height: 60px; 
	width: auto; 
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

h1, h2 {
    text-align: center;
}

section {
    padding: 40px;
}

/* Exhibition Styles */

.exhibition-header {
    background-color: #96000D;
    padding: 60px 20px;
    text-align: center;
}

.exhibition-header h1 {
    font-size: 48px;
    margin: 0;
    color: #ffffff;
}

.exhibition-header p {
    font-size: 18px;
    color: #ffffff;
}


.current-exhibitions {
    background-color: white;
    padding: 60px 20px;
}

.current-exhibitions h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.exhibition-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exhibition-item {
    width: 300px;
    margin: 20px;
    text-align: center;
}

.exhibition-item img {
    width: 100%;
    height: auto;
}

.exhibition-details {
    margin-top: 10px;
}

.exhibition-details h3 {
    font-size: 22px;
    margin: 0;
}

.exhibition-details p {
    font-size: 16px;
    color: gray;
}

.submit-event {
    background-color: white;
    padding: 60px 20px;
}

.submit-event h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
}

input[type="text"], input[type="date"], input[type="time"], button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #96000D;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

button:hover {
    background-color: #000000;
}

input[type="checkbox"] {
    margin-left: 10px;
}
