<app-nav></app-nav>

<div class="container">
    <h1>Museums</h1>
    <div class="row">
        <div class="col-md-4" ng-repeat="museum in $ctrl.museums">
            <div class="card mb-4 shadow-sm">
                <img ng-src="{{museum.imageUrl}}" class="card-img-top" alt="{{museum.name}}">
                <div class="card-body">
                    <h5 class="card-title">{{museum.name}}</h5>
                    <p class="card-text">{{museum.description}}</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
