<div class="container mt-4">
    <h2 class="text-center">Current Exhibitions</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let exhibitions of exhibitions">
        <div class="card">
          <img class="card-img-top" [src]="exhibitions.imageUrl" alt="Exhibition Image">
          <div class="card-body">
            <h5 class="card-title">{{ exhibitions.name }}</h5>
             <!-- <button type="button" class="btn btn-primary" (click)="openModal(exhibitions)">View Details</button> --> 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  


