<div class="container mt-4">
  <h2 class="text-center">Exhibitions</h2>
  
  <div class="row">
    <div class="col-md-4" *ngFor="let exhibition of exhibitions">
      <div class="card mb-3">
        <img class="card-img-top" [src]="exhibition.imageUrl" alt="Exhibition Image" />
        <div class="card-body">
          <h5 class="card-title">{{ exhibition.title }}</h5>
          <p class="card-text">{{ exhibition.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="exhibition-grid mt-4">
  <div *ngFor="let exhibition of exhibitions" class="exhibition-item">
    <h3>{{ exhibition.title }}</h3>
    <p>{{ exhibition.description }}</p>
    <p>Start Date: {{ exhibition.startDate | date }}</p>
    <p>End Date: {{ exhibition.endDate | date }}</p>
    <img [src]="exhibition.imageUrl" alt="{{ exhibition.title }}" class="img-fluid" />
    <div class="mt-2">
      <button (click)="openModal(exhibition)" class="btn btn-primary btn-sm">Edit</button>
      <button (click)="deleteExhibition(exhibition.id)" class="btn btn-danger btn-sm">Delete</button>
    </div>
  </div>
</div>

<div class="container mt-4"></div>
  <h2 class="text-center">Exhibitions</h2>
  
  <div class="row">
    <div class="col-md-4" *ngFor="let exhibition of exhibitions">
      <div class="card mb-3">
        <img class="card-img-top" [src]="exhibition.imageUrl" alt="Exhibition Image" />
        <div class="card-body">
          <h5 class="card-title">{{ exhibition.title }}</h5>
          <p class="card-text">{{ exhibition.description }}</p>
        </div>
      </div>
    </div>
  </div>


<div class="exhibition-grid mt-4">
  <div *ngFor="let exhibition of exhibitions" class="exhibition-item">
    <h3>{{ exhibition.title }}</h3>
    <p>{{ exhibition.description }}</p>
    <p>Start Date: {{ exhibition.startDate | date }}</p>
    <p>End Date: {{ exhibition.endDate | date }}</p>
    <img [src]="exhibition.imageUrl" alt="{{ exhibition.title }}" class="img-fluid" />
    <div class="mt-2">
      <button (click)="openModal(exhibition)" class="btn btn-primary btn-sm">Edit</button>
      <button (click)="deleteExhibition(exhibition.id)" class="btn btn-danger btn-sm">Delete</button>
    </div>
  </div>
</div>

<button (click)="openModal()" class="btn btn-success mt-3">Add New Exhibition</button>

<div *ngIf="selectedExhibition" class="modal d-block">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ selectedExhibition.id ? 'Edit Exhibition' : 'Add New Exhibition' }}</h5>