<div *ngIf="!newExhibition" class="container mt-4">
  <h2 class="text-center mb-4">Exhibitions</h2>
  <button class="btn btn-success" (click)="showNewExhibitionForm()">Add New Exhibition</button>
  <div class="row">
    <div class="col-md-4" *ngFor="let exhibition of exhibitions">
      <div class="card mb-3">
        <img class="card-img-top" [src]="exhibition.imageUrl" alt="{{ exhibition.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ exhibition.title }}</h5>
          <p class="card-text">{{ exhibition.description }}</p>
          <p class="card-text">
            <small class="text-muted">Start Date: {{ exhibition.startDate | date }}</small><br>
            <small class="text-muted">End Date: {{ exhibition.endDate | date }}</small>
          </p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary btn-sm" (click)="showEditForm(exhibition)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteExhibition(exhibition.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



  <div *ngIf="newExhibition" class="text-center mt-4">
    
    <!-- <div class="modal fade" tabindex="-1" role="dialog" [class.show]="selectedExhibition" [ngClass]="{'d-block': selectedExhibition}" style="background: rgba(0,0,0,0.5);"> -->
  <div class="" tabindex="-1" role="dialog"  style="background: rgba(0,0,0,0.5);">
    <div class="" role="document">
      <div class="">
       
        <div class="">
          <form>
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" name="title" [(ngModel)]="newExhibition.title">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" name="description" rows="3" [(ngModel)]="newExhibition.description"></textarea>
            </div>
            <div class="mb-3">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" class="form-control" name="startDate" [(ngModel)]="newExhibition.startDate">
            </div>
            <div class="mb-3">
              <label for="endDate" class="form-label">End Date</label>
              <input type="date" class="form-control" name="endDate" [(ngModel)]="newExhibition.endDate">
            </div>
            <div class="mb-3">
              <label for="imageUrl" class="form-label">Image URL</label>
              <input type="text" class="form-control" name="imageUrl" [(ngModel)]="newExhibition.imageUrl">
            </div>
            <div class="mb-3">
              <label for="museum" class="form-label">Museum</label>
              <select type="text" class="form-select" name="museum" [(ngModel)]="newExhibition.museum.id">
                <option *ngFor="let museum of museums" [value]="museum.id">{{ museum.name }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveExhibition(newExhibition)">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
